@import "../config/globals";

.todos-container {
  background: $c-white;
  box-shadow: $box-shadow; /*сдвиг по х, сдвиг по у, размытие, цвет*/
  position: relative;
}
.todos-container:before,
.todos-container:after {
  //content: '';
  position: absolute;
  top: 100%;
  background: $c-white;
  box-shadow: $box-shadow; /*сдвиг по х, сдвиг по у, размытие, цвет*/
  z-index: -1;
}
.todos-container:before {
  height: $offset_2x + $offset_half;
  left: $offset;
  right: $offset;
}

.todos-container:after {
  height: 5px;
  left: $offset_half;
  right: $offset_half;
}

.todos-container.__show:before,
.todos-container.__show:after {
  content: '';
}

.todos-container .todos-w {
  display: none;
}
.todos-container.__show .todos-w{
  display: block;
}



