@import "../config/globals";

$todos-item_remove-width: 40px;
$todos-item_remove-height: $todos-item_remove-width * 1.5;

.todos-item_remove {
  visibility: hidden;
  outline: inherit;

  order: 1;
  float: right;
  align-self: center;
  width: $todos-item_remove-width;
  height: $todos-item_remove-height;

  background: none;
  position: relative;

  border: 0;
}

.todos-item_remove_icon {
  width: $offset_4x + $offset_half;
  height: $offset_4x + $offset_half;
  background: url('../../images/icons/close.png') no-repeat 0 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: (-$offset_2x -$offset_half) (-$offset_2x -$offset_half);
}