@import "../config/globals";

.todos-item{
  @include clearfix();
  display: flex;
  float: inherit;

  border: 0 solid $c-rainy-sky;
  border-top-width: 1px;

  font-size: $fs_xx-large;
  color: $c-gray;
  line-height: $lh_xx-large;

  outline: none;
}

.todos-item.__hide {
  display: none;
}
.todos-item:first-child,
.todos-item.__hide:first-child ~ .todos-item {
  border-top: 1px solid $c-rainy-sky;
}
.todos-item.__hide:first-child ~ .todos-item:not(.__hide) ~ .todos-item {
  border-top: 0;
}

.todos-item:hover {
  background: $c-snow;
}
  .todos-item:hover .todos-item_remove{
     visibility: visible;
   }

.todos-item.__ready .todos-item_input{
  color: $c-smoke;
  text-decoration: line-through;
}

.todos-item_input-w {
  overflow: hidden;
  flex: 1 0;
}
  .todos-item_input{
    outline: none;
    border: 0;
    font-family: $font-main;
    font-size: $fs_xx-large;
    line-height: $lh_xx-large;
    font-weight: 300;
    padding-top: $offset_4x;
    overflow: hidden;
  }
