$c-orange: #eb722e;
$c-error: #ff5756;

$c-white: #fff;
$c-snow: #fafafa;
$c-gray: #666;
$c-gray-dark: #888;
$c-gray-light: #f5f5f5;
$c-pink: #ebdfdf;
$c-rainy-sky: #e6e6e6;
$c-light-green: #5dc2af;
$c-smoke: #ccc;
$c-light-pink: rgba(175, 47,47,0.15);