@import "../config/globals";

.input-checkbox {
  @include relative-left();
  width: $offset_15x;
  height: $offset_15x;
}
.input-checkbox_target {
  @include absolute-full();
  opacity: 0;
  margin: 0;
  z-index: 1;
}
.input-checkbox_visual {
  position: absolute;
  width: $offset_9x;
  height: $offset_9x;
  margin-top: $offset_3x;
  margin-left: $offset_3x;
  border-radius: 50%;
  border: solid 1px $c-rainy-sky;
  background: none;
}

.todos-item.__ready .input-checkbox_visual{
  position: absolute;
  width: $offset_9x;
  height: $offset_9x;
  margin-top: $offset_3x;
  margin-left: $offset_3x;
  border-radius: 50%;
  border: solid 1px $c-light-green;
  background: url('../../images/icons/completed.png') no-repeat $offset_2x $offset_2x;
}
.todos-item.__ready:hover .input-checkbox_visual{
  background: white url('../../images/icons/completed.png') no-repeat $offset_2x $offset_2x;
  background-clip: padding-box;
}

.todos-item:hover .input-checkbox_visual {
  background: $c-white;
  background-clip: padding-box;
}

.todos-item.__ready .input-checkbox_mark-cheched{
  @include relative-left();
  width: $offset_15x;
  height: $offset_15x;
}
