@import "../config/globals";

$checkbox-size: 60px;

.input-checkbox {
  display: inline-block;
  position: relative;
  width: $checkbox-size;
  height: $checkbox-size;
}
.input-checkbox_target {
  @include absolute-full();
  opacity: 0;
  margin: 0;
  z-index: 1;
}
.input-checkbox_visual {
  position: absolute;
  width: $offset_9x;
  height: $offset_9x;
  margin-top: $offset_3x;
  margin-left: $offset_3x;
  border-radius: 50%;
  border: solid 1px $c-rainy-sky;
  background: none;
}

.input-checkbox_target:checked ~ .input-checkbox_visual{
  position: absolute;
  width: $offset_9x;
  height: $offset_9x;
  margin-top: $offset_3x;
  margin-left: $offset_3x;
  border-radius: 50%;
  border: solid 1px $c-light-green;
  background: url('../../images/icons/completed.png') no-repeat $offset_2x $offset_2x;
}
